/* Step-2 You can assign padding to all sides of a container by using the padding shorthand property. */

.content-left {
 padding: 20px 20px 20px 20px;
 
}

/* Step 2 You can assign padding to all sides of a container by using the padding shorthand property. */

.header {
 padding: 20px 20px 20px 20px;
  
}


/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-image-container {
    background: #96F0F2;
    width: auto;
    height: 30%;
    margin-bottom: 20px;
}

/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-links-container {
    background: #12F3F7;
    width: auto;
    height: 30px;
}
/* Step-2 You can either use float left to get this element to in the desired location. */
.logo-container {
    background: #4F4949;
    height: 100%;
    width: 200px;
    float: left;
}


/* Step-2 You can either use float right to get this element to in the desired location. */


.menu-container {
    background: #4F4949;
    height: 10%;
    width: 150px;
    float: right;
}




