/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */



.content-mid {
  padding: 80px 80px 80px 80px;
}

.content-mid-header {
    background: #444;
    width: 100%;
    color: #fff;
    text-align: center;
    height: 20%;
}

.content-container {
  width: 100%;
  height: 100%;
}

.content {
  background: #D8D8D8;
  width: 100%;
  height: 450px;
  background: #D8D8D8;
  padding: 20px 20px 20px 20px;
  text-align: center;
}
