/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */



.content-mid {
  padding: 80px;
}

.content-mid-header {
    background: #444;
    width: 60%;
    height: 20%
}

.content-container {
  width: 60%;
  height: 100%;
}

.content {
  background: #D8D8D8;
  width: 90%;
  height: 90%;
  background: #D8D8D8;
  padding: 20px;
  text-align: center;
}
