/* Step-3 You can assign padding to all sides of a container by using the padding shorthand property. */



.content-mid {
  padding: 80px;
}

.content-mid-header {
    background: #444;
    width: auto;
    height: 20%
}

.content-container {
  width: auto;
  height: 100%;
}

.content {
  background: #D8D8D8;
  width: auto;
  height: 80%;
  background: #D8D8D8;
  padding: 20px;
  text-align: center;
}
